* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.logo-name {
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 600;
  font-size: 24px;
}
.nav-item a {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  padding: 6px 30px;
  transition: 0.6s;
}
.nav-item :hover {
  background-color: black;
  color: white;
}
.home {
  padding: 180px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text {
  width: 480px;
}
.home-text span {
  font-size: 24px;
}
.home-text .name {
  font-family: "Bitcount Grid Double", system-ui;
  padding: 2px 8px;
  border-radius: 8px;
  font-weight: 200;
  background-color: black;
  color: white;
}
.home-text h2 {
  font-size: 45px;
}
.home-text img {
  width: 60px;
}
.home-text p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 8px;
}
.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.6s;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.home-img img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
}

.about {
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h1 {
  margin-bottom: 50px;
}
.about-me {
  width: 500px;
  background-color: black;
  color: white;
  padding: 60px 40px;
  border-radius: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}
.about-me span{
    font-weight: 600;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.skills h1 {
    margin-bottom: 80px;
}
.skils-item{
    margin-bottom: 10px;
}
.skill-title{
    display: flex;
    justify-content: space-between;
}
.skill-title h5{
    color: rgb(75, 75, 75);
}
.skils-item .bar {
    background-color: #7e7e7e;
    border-radius: 8px;
    overflow: hidden;
    height: 8px;
    width: 200px;
}
.fill {
    background: rgb(0, 0, 0);
    height: 100%;
    width: 0;
}
.skill{
    margin: 10px;
    padding: 12px;
}